/* Requires external Highcharts CSS to be installed locally */

#main-title {
    color: #4b4b4b;
}

#description {
    text-decoration: underline;
}

@media screen and (max-width: 576px) {
    .highcharts-dashboards-cell {
        flex: 1 1 100%;
    }
}
