/* Requires external Highcharts CSS to be installed locally */

#resizer {
    border: 1px solid silver;
    min-width: 360px;
    min-height: 250px;
}

#inner-resizer { /* make room for the resize handle */
    padding: 10px;
}
